
<div class="move-card">
    <div class="move-info item-name" data-item-id="{{_id}}">
        <a class="move-roll" title="move roll"> {{name}} </a><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        
            
    </div>
</div>